body{

margin:0;
background:#222;
color:white;
font-family:Arial;
text-align:center;

}

h1{

margin-top:20px;

}

#game{

width:800px;
height:500px;

margin:20px auto;

background:#444;

position:relative;

border:5px solid white;

overflow:hidden;

}

.player{

width:40px;
height:40px;
position:absolute;

}

#player1{

background:red;

}

#player2{

background:deepskyblue;

}

#placar{

font-size:25px;
margin-top:10px;

}
